
/*Style de texte*/
h1 {
    font-family: "Times New Roman", Arial, sans-serif;
    font-size: 22pt;
    color: black;
    width: 100%;
}

h2{
    font-family: "Times New Roman", Arial, sans-serif;
    font-size: 16pt;
    color: black;
}

article {
    font-family: "Times New Roman", Arial, sans-serif;
    font-size: 12pt;
    color: black;

}

/*  la partie header du haut */

header{
    display: flex;
    margin: 1px solid white;
  
}

img.logo{
    display: block;
    float: left;

}
.wrapslogan{
    width: 100%;
    display: flex;
    justify-content: center;
}

.slogan{
    font-size: 1.8rem;
    margin: 10px;

}

/* la barre de navigation ET LE FOOTER*/

ul{
    list-style-type:none;
    padding: 1%;
    margin: 2px 0px 2px 0px;
    background-color: black;
}

li {
    display: inline;
    background-color: black;
    font : bold, underline;
    margin: 0px 0px 0px 5px;
}


a:link, a:visited {
    color: white;
    background-color: black;
}


/* l'image promo */
.promo{
    width: 100%;
}


/* les boites de la partie centrale */
.pcentrale{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    }

section.container{
    display: flex;
    width: 70%;
    flex-flow: row wrap;
     }


    /*colonne de droite*/

    .box{
        background-color: grey;
        width: 30%;
        }

    hr{
        width: 100%;
        }
