

/* Mettre le slogan à droite du logo, dans la partie header 
 */

header{
    padding:0%;
    margin:0%;
}


div{
    display:inline-block;
    width: 200px;
    position: relative;
    bottom:10px;
    left: 1000px;
}




/* Metre la barre de navigation : sans puce, en ligne, écrit en blanc, sous fond noir qui fait toute la ligne
 */

ul{
    list-style-type: none;
    padding: 1%;
    margin: 0.5% 0% 0.5% 0%;
    background-color: black;
}
/*trier ce qui est utile ou pas ici*/ 

li {
    display: inline;
    background-color: black;
    font : bold, underline;
 

}


a:link, a:visited {
    color: white;
    background-color: black;
}


/* Mettre l'image promo sur toute la largeur du navigateur
 */
.promo{
    width: 100%;
}

/*Style de texte*/
h1 {
    font-family: "Times New Roman", Arial, sans-serif;
    font-size: 20pt;
    color: black;
}

h2{
    font-family: "Times New Roman", Arial, sans-serif;
    font-size: 16pt;
    color: black;
}

article {
    font-family: "Times New Roman", Arial, sans-serif;
    font-size: 12pt;
    color: black;

}

/* mettre une colonne grise à droite du body
 */

